<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CategoriesImportExport
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
// @codingStandardsIgnoreFile
/**
 *
 * @var $block \Magento\Framework\View\Element\Template
 */
?>
<div id="bss-version" style="display: none"><br><?php echo __("Version 1.0.4"); ?></div>
<script type="text/x-magento-init">
    {
        "*": {
            "Bss_CategoriesImportExport/js/import":{}
        }
    }
</script>