<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CategoriesImportExport
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
// @codingStandardsIgnoreFile
/**
 *
 * @var $block \Bss\CategoriesImportExport\Block\Adminhtml\Form\After
 */
?>
<div class="entry-edit form-inline">
    <form id="export_filter_form" action="<?php echo $block->escapeUrl($block->getUrl('*/*/export')) ?>" method="post">
        <div><input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>"></div>
        <fieldset class="fieldset admin__fieldset bss-hidden" id="export_filter_container" >
            <legend class="admin__legend">
                <span><?php echo $block->escapeHtml(__('Entity Attributes')); ?></span>
            </legend>

            <div id="export-product-skus" name="export-product-skus" class="admin__field field attributes">
                <label class="label admin__field-label" for="export-product-skus"><span><?php echo $block->escapeHtml(__('Export Related SKUs ')); ?></span></label>
                <select
                        id="export-related-skus"
                        name="export-related-skus"
                        class="select admin__control-select bss-field"
                >
                    <option value="0"><?php echo $block->escapeHtml(__('No')); ?></option>
                    <option value="1" selected="selected"><?php echo $block->escapeHtml(__('Yes')); ?></option>
                </select>
            </div>

            <div id="export-type" name="export-type" class="admin__field field attributes">
                <label class="label admin__field-label" for="export-type"><span><?php echo $block->escapeHtml(__('Export By ')); ?></span></label>
                <select
                        id="export-by"
                        name="export-by"
                        class="select admin__control-select"
                >
                    <option value="all"  selected="selected"><?php echo $block->escapeHtml(__('All')); ?></option>
                    <option value="store-id"><?php echo $block->escapeHtml(__('Store ID')); ?></option>
                    <option value="category-id"><?php echo $block->escapeHtml(__('Category ID')); ?></option>
                </select>
            </div>

            <div id="store-id" class="admin__field field attributes bss-hidden">
                <label class="label admin__field-label" for="store-id"><span><?php echo $block->escapeHtml(__('Choose Store')); ?></span></label>
                <select
                        name="store-id"
                        class="select admin__control-select bss-field"
                >
                    <option value="all"  selected="selected"><?php echo $block->escapeHtml(__('All')); ?></option>
                    <?php
                    $stores = $block->getAllStores();
                    foreach ($stores as $store) {
                        ?>
                        <option value="<?php echo $block->escapeQuote($store->getStoreId()); ?>"><?php echo $block->escapeHtml(__($store->getName())); ?></option>
                        <?php
                    }
                    ?>
                </select>
            </div>

            <div id="category-id" class="admin__field field attributes bss-hidden">
                <label class="label admin__field-label" for="category-id"><span><?php echo $block->escapeHtml(__('Input Category Id')); ?></span></label>
                <span class = "bss-field">
                    <input type="text" name="category-id"/><br/>
                    <span class = "bss-field"><?= __("Comma-separated.") ?></span>
                </span>
            </div>

            <button class="action-scalable" type="submit">
                <span><?php
                    echo $block->escapeHtml(__('Continue'))
                    ?>
                </span>
            </button>
        </fieldset>
    </form>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Bss_CategoriesImportExport/js/export":{}
        }
    }
</script>
