<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_Core
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * @var $block \Bss\Core\Block\PreprocessedCss
 */

$cssFiles = $block->getAssetCssFiles();
$customStyles = $block->getCustomStyles();
?>
<?php if (!empty($cssFiles)): ?>
    <?php foreach ($cssFiles as $cssFile): ?>
        <link rel="stylesheet" type="text/css" media="all" href="<?= $cssFile ?>"/>
    <?php endforeach; ?>
<?php endif; ?>

<!--Custom Style-->
<?php if (!empty($customStyles)): ?>
    <style>
        <?= $customStyles ?>
    </style>
<?php endif; ?>
