<?php /** @var \HTCMage\AvatarCustomer\Block\Account\Dashboard\Avatar $block */ ?>

<?php // @codingStandardsIgnoreFile ?>
<div class="block block-dashboard-info">
	<div class="block-title"><strong><?= __('Avatar'); ?></strong></div>
	<div class="block-content">
		<div class="box box-information">
			<strong class="box-title">
				<span><?= __('Current'); ?></span>
			</strong>
			<div class="box-content">
				<img id="img_avatar" src="<?= $block->getAvatar();?>" width="150">
			</div>
		</div>
		<div class="box box-newsletter">
			<div class="box-content">
				<form id="avatar-form" action="<?= $this->getUrl('avatar/manager/upload'); ?>" enctype="multipart/form-data" method="POST">
					<div><input class="checkFile" required type="file" id="file_avatar" name="avatar" accept="image/jpg,image/png,image/gif,image/jpeg"/></div>
					<div><input required type="hidden" name="email" id="email_customer" value="<?= $block->getCustomer()->getEmail();?>" /></div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/x-magento-init">
{
    "#avatar-form": {
        "HTCMage_AvatarCustomer/js/customer/avatar": {
            "url": "<?= $this->getUrl('avatar/manager/upload'); ?>",
            "getBaseUrlAvatar": "<?= $block->getBaseUrlAvatar()?>",
            "triggerEvent": "change"
        }
    }
}
</script>