<?php
/**
 * Copyright © magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');?>
<?php if ($block->customerLoggedIn()): ?>
    <li class="customer-welcome acc-topbar">
        <div class="customer-name acc-btn" style="display: flex; align-items: center;" data-bind="scope: 'customer'">
            <!-- ko if: customer().avatar --> 
                <img width="32px" height="32px" style="border: 1px solid #ccc; border-radius: 50%; padding-right: 3px;" data-bind="attr:{src: customer().avatar}" />
             <!-- /ko -->
            <!-- ko if: customer().fullname  -->
            <div><?= __("Hi, ")?></div>
            <div class="name" data-bind="text: customer().firstname"></div>
            <!-- /ko -->
        </div>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
        <div class="customer-menu acc-list">
            <ul>
                <li>
                    <a href="<?= $block->getBaseUrl() ?>customer/account/"><i class="icon-user icons"></i><span><?= __('My Account') ?></span></a></li>
                <?php if ($wishlistHelper->isAllow()): ?>
                <li>
                    <a href="<?= $block->getBaseUrl() ?>wishlist/"><i class="icon-heart icons"></i><span><?= __('My Wishlist') ?></span></a></li>
                <?php endif;?>
                <li>
                    <a href="<?= $block->getBaseUrl() ?>checkout/cart/"><i class="icon-handbag icons"></i><span><?= __('My Cart') ?></span></a></li>
                <li>
                    <a href="<?= $block->getBaseUrl() ?>customer/account/logout/"><i class="icon-logout icons"></i><span><?= __('Log Out') ?></span></a></li>
            </ul>
        </div>
    </li>
<?php endif;?>
